* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.header {
	background-color: white;
	height: 120px;
	width: 1500px;
	border: 1px solid black;
	padding: 10px 50px 0px 50px;
	margin: 0 auto;
}

.header2{
	background-color: black;
	border: 1px solid black;
	height: 20px;
	width: 1500px;
	margin: 0 auto;
}

footer {
	background-color: black;
	margin: 0 auto;
	height: 50px;
	width: 1500px;
	text-align: center;
	color: white;
}

#nav {
}

h3	{
	display: inline-block;
	color: black;
	border: 1px solid black;
	font-size: 1.5em;
	width: 150px;
	text-align: center;
	float: right; 
	position: relative;
	top: -40px;
	margin: 0px 40px 0px 40px;
}

.logo {
	font-family: 'Rubik', sans-serif;
	font-size: 5em;
	color: black;
	text-align: center;
	letter-spacing: 3px;
	background-color: white;
	height: 300px;
	margin-top: -40px;
}

.section {
}

img {
	display: inline-block;
	height: 380px;
	width: 380px;
	background-color: white;
	margin-left: 100px;
	margin-bottom: -100px

}

.profile {
	display: inline-block;
	height: 380px;
	width: 380px;
	background-color: white;
	margin-left: 100px;
	margin-bottom: 50px
}

.writeups	{
	display: inline-block;
	font-size: 3em;
	position: relative;
	bottom: 270px;
	right: -120px;
	font-weight: bolder;
}

.writeups2 {
	display: inline-block;
	font-size: 2em;
	color: grey;
	position: relative;
	bottom: 215px;
	right: 310px;
}

.writeups3 {
	font-size: 1.3em;
	color: black;
	position: relative;
	top: -200px;
	left: 600px;


}

.btn, input[type="submit"], button, .pagination__item {
    padding: 18px 30px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #478ac8;
    background: black;
    font-family: "IBM Plex Sans Condensed",sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    position: relative;
    top: -150px;
    left: 580px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}